# --- Python ---
# Ignore les dossiers de compilation automatique
__pycache__/
*.pyc

# --- Fichiers générés par vos codes ---
# Adapte selon ce que votre code crache
*.bmp
*.txt
*.png
output/
data/

# --- Typst ---
# On garde le code source (.typ) mais on ignore le PDF généré
*.pdf